@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Регистрация</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class=" text-center">
        <h2>Поздравляем! Вы прошли регистрацию</h2>
        <h3>Если хотите посмотреть всех участников турнира, то нажмите на эту <a asp-action="ListPlayers">ссылку</a></h3>
    </div>
</body>
</html>